.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    jei
    div.shadow {
        min-width: 300px;
    }
    img {
        // height: 90px;
        margin-bottom: 60px;
    }
}

.logo {
}

.login-layout {
    background-image: url("../../../assets/images/background.JPEG");
    background-repeat:no-repeat;
    background-position: center center;
}